header {
  /* border: 1px solid black; */
  padding: 0 200px;
  background-color: #fff;
  width: 100%;

  z-index: 9;
  position: fixed;
  /* background-color: #dadada; */
  height: 60px;
  > div {
    align-items: center;
    display: flex;
    .house_icon {
      width: 42px;
    }
  }
}
