* {
  padding: 0;
  margin: 0;
}

header {
  /* width: 100%; */
  height: 50px;
  margin-top: 12px;
  /* background-color: #cfcfcf; */
  display: flex;
  justify-content: space-between;
  padding: 0 300px;

  align-items: center;
  /* align-content: center; */

  .header-central {
    > * {
      margin: 0 20px;
      padding: 6px 22px;
      font-size: 16px;
    }

    > *:hover {
      background-color: #ebebeb;
    }
  }

  .header-right{
    > * {
      /* margin: 0 20px; */
 

    }

    > *:hover {
      background-color: #ebebeb;
    }
  }
}
