main {
  background-color: #e9e9e9;
  height: 100%;
  width: auto;
}

.house-background-img {
  width: 100%;
  opacity: 0.8;
  z-index: 1;
}

.main-container-landing-page {
  background-image: url("../../assets/img/pexels.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
}

.main-container-landing-page {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page-content {
  position: absolute;
  display: flex;
  align-items: center;
}

.landing-page-content > * {
  margin: 20px;
  color: white;
}

.house-icon-principal-dashboard {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}
