
@font-face {
  font-family: 'baloo';
  src: url('./assets/fonts/Baloo.ttf') format('truetype');
  font-display: swap;
}

:root {
  font-family: 'baloo', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}